<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block start%}
<div class="container mt-5">
    <h1>Purchase List</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="purchaseinvoiceno" class="form-label">Invoice No</label>
         <input type="text" class="form-control" name="purchaseinvoiceno" id="purchaseinvoiceno" value="{{ purchase.purchaseinvoiceno }}">
        </div>
        <div class="mb-3">
          <label for="suppliername" class="form-label">Supplier Name</label>
         <input type="text" class="form-control" name="suppliername" id="suppliername" value="{{ purchase.suppliername }}">
        </div>
        <div class="mb-3">
          <label for="purchasedate" class="form-label">Purchase Date (DD/MM/YYYY)</label>
         <input type="text" class="form-control" name="purchasedate" id="purchasedate" value="{{ purchase.purchasedate|date:'d/m/Y' }}">
        </div>
        <div class="mb-3">
          <label for="purchaseamount" class="form-label">Amount</label>
          <input type="text" class="form-control" name="purchaseamount" id="purchaseamount" value="{{ purchase.purchaseamount }}">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
</body>
</html>
